[class] {
  /* color: red; */
  border-radius: 5px 10px;
}

.cajap {
  border-radius: 50px 10px;
  background-color: #002fff;
  box-shadow: 10px 10px 5px 5px rgb(0, 0, 0);
}
h1 {
  text-shadow: 2px 2px 5px rgba(255, 126, 0, 1);
}
#nav {
  background-color: #fa646b;
  padding: 10px;
}

#nav a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

#nav .item-active {
  color: blue;
}

/*-------------------flex-----------------------------*/
.segunda {
  background-color: #fa646b;
}
.imagenes {
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.imagenes img {
  width: 200px;
  height: 250px;
  margin: 20px;
}

/*-------------------grid-----------------------------*/

.grid {
display: grid;
}

img {
    width: 40px;
    height: 50px;
    margin: 2px;
  }


  .grid2 {
    height: 400px;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
  }
  .header {
    background: darkred;
    grid-column-start: x0;
    grid-column-end: x3;
  
    /* Equivalente a */
    grid-column: x0 / x3;
display: flex;
justify-content: center;
align-items: center;  }
  
  .sidebar {
    background: black;
    grid-row: y1 / y2;
    color: white;
  }
  
  .content {
    background: orange;
    grid-column: x1 / x3;
    grid-row: y1 / y2;
  }
  
  .footer {
    background: green;
    grid-column: x0 / x3;
    grid-row: y2;
  }

  .grid2 {
    column-gap: 100px;
    row-gap: 10px;
    background-color: blue;
    /* grid-gap: 20p x; */
    /* justify-items: center;
    align-items: center; */
    }
  